[submodule "projects/SELAR"]
	path = projects/SELAR
	url = https://github.com/Kavirubc/SELAR.git
[submodule "projects/a-d-b"]
	path = projects/a-d-b
	url = https://github.com/Kavirubc/AgentDisruptBench.git
